.boxMapModal
  margin-top 10px
  &__map
    height 280px !important
    width 100% !important
.mapaContainer
  width 100%
  height 65%
  &__tittle
    font-size 20px
    font-weight bold
    color #a9a9a9
    text-align center

.boxLeyenda
  display flex
  justify-content space-evenly
  flex-wrap nowrap
  padding 5px 10px 20px 10px
  &__leyenda

    font-size 12px
    text-align center
    font-weight bold
    margin-bottom 0rem
  &__item
    text-align center
    display inline
    width 10%
  &__title
    font-weight 300
    margin-bottom 0rem
    font-size 10px
  &__hr
    height 6px
    margin 0rem
    width 100%

.p_numRegistros
  padding-top: 10px
  padding-left: 20px
  display: inline-block

#numRegistros
  font-weight bold
  padding-left 10px

.modalDetail
  &__box
    margin-bottom 5px
  &__label
    font-size 16px
    margin-bottom 0rem
    text-decoration underline blink
  &__name
    font-size 15px
    margin 0rem
#exampleModalLabel
  color grey
  font-weight bold
  font-size 17px
  opacity .8px
